# https://github.com/dexidp/helm-charts/tree/dex-0.24.0/charts/dex
commonLabels:
  toolkit.fluxcd.io/tenant: devops-team
  app.kubernetes.io/part-of-system: dex
config:
  # Set it to a valid URL
  issuer: http://dex.dapr-system.svc.cluster.local:5556
  # See https://dexidp.io/docs/storage/ for more options
  storage:
    type: memory
  # Enable both OIDC and local password authentication
  enablePasswordDB: true
  staticPasswords:
    - email: "admin@example.com"
      # bcrypt hash of the string "password": $(echo password | htpasswd -BinC 10 admin | cut -d: -f2)
      hash: "$2y$10$VBejpyosWp31/ekERC6Fyu3euAXsGf4R30KbTLCEksAd/4KjDybBG"
      username: "admin"
      userID: "08a8684b-db88-4b73-90a9-3cd1661f5466"
  # Enable at least one connector
  # See https://dexidp.io/docs/connectors/ for more options
  connectors:
    - type: oidc
      id: pocketid
      name: PocketID
      config:
        issuer: $POCKETID_ISSUER_URL
        clientID: $POCKETID_CLIENT_ID
        clientSecret: $POCKETID_CLIENT_SECRET
        redirectURI: http://dex.dapr-system.svc.cluster.local:5556/callback
        scopes:
          - openid
          - profile
          - email
        getUserInfo: true

  # Allow password grants with local users
  oauth2:
    passwordConnector: local
