---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
transformers:
  - labels.yaml
resources:
  - ./namespace.yaml
  - https://github.com/rabbitmq/cluster-operator/releases/download/v2.18.0/cluster-operator-ghcr-io.yml
  - https://raw.githubusercontent.com/dragonflydb/dragonfly-operator/refs/tags/v1.3.1/manifests/dragonfly-operator.yaml
  - https://github.com/cloudnative-pg/cloudnative-pg/releases/download/v1.27.1/cnpg-1.27.1.yaml
  - ./percona
