---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
transformers:
  - labels.yaml
resources:
  - ./namespace.yaml
  - https://github.com/rabbitmq/cluster-operator/releases/latest/download/cluster-operator.yml
  - https://raw.githubusercontent.com/dragonflydb/dragonfly-operator/refs/tags/v1.3.1/manifests/dragonfly-operator.yaml
  - https://github.com/cloudnative-pg/cloudnative-pg/releases/download/v1.27.1/cnpg-1.27.1.yaml
  - github.com/minio/operator?ref=v7.1.1
  - ./percona
patches:
  - patch: |-
      - op: add
        path: /metadata/labels
        value:
          app.kubernetes.io/app: dragonfly-operator
          app.kubernetes.io/version: v1.3.1
    target:
      group: apps
      version: v1
      kind: Deployment
      name: dragonfly-operator-controller-manager

#  kubectl apply --server-side -k operators
